<ion-view view-title="My PAC">
    <ion-content>
          <ion-list>
              <ion-item class="item-remove-animate item-icon-right" ui-sref="tab.myPAC-myInformation">
                  <img src="img/myPAC/information/information.png" style="width:50px; height:50px; vertical-align:middle">
                  My Profile
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>

              <ion-item class="item-remove-animate item-icon-right" ui-sref="tab.myPAC-myNotifications">
                  <img src="img/myPAC/notifications/notifications.jpg" style="width:52px; height:52px; vertical-align:middle">
                  My Notifications
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>

              <ion-item class="item-remove-animate item-icon-right" ui-sref="tab.myPAC-myAppointments">
                  <img src="img/myPAC/appointments/appointments.png" style="width:50px; height:50px; vertical-align:middle">
                  My Appointments
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>

              <ion-item class="item-remove-animate item-icon-right" ui-sref="tab.myPAC-submitMyDocuments">
                  <img src="img/myPAC/documents/documents.png" style="width:50px; height:50px; vertical-align:middle">
                  Submit My Documents
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>

              <ion-item class="item-remove-animate item-icon-right" ui-sref="tab.myPAC-contactUs">
                  <img src="img/myPAC/contactUs/contactUs.png" style="width:50px; height:50px; vertical-align:middle">
                  Contact Us
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
          </ion-list>
    </ion-content>
</ion-view>


<script id="templates/myPAC/myInformation.html" type="text/ng-template">
    <ion-view title="My Profile">
        <ion-content padding="true" class="has-header has-footer">
            <div>
                <p>
                My name is Eliza Beth. I grew up an only child. I was also an only grandchild on both sides. The youngest of all my cousins and the only child in a small neighborhood that consisted of a bunch of adults, I never really learned what it meant to just be a kid. And I certainly never learned how to relate to other children.

Accustomed to being around primarily adults, I was always mature for my age. Even my own friends often annoyed me during my adolescent years. I had a lot of people who invested in me, and I excelled at most of my many and varied hobbies. I did well in school, often knowing how to do complex math problems before the concept had even been introduced to our class. Looking back, I’m sure I was quite smug, although I didn’t realize it at the time. Unfortunately, self-awareness wasn’t something I learned until many years later.

In high school, I began to tire of the pressure placed on me by my family and their high expectations. I gradually stopped my extra-curricular activities, including music and art lessons, and chose to work instead. I graduated at the top of my class, although I wasn’t valedictorian—perhaps because I didn’t want to give my overbearing family the satisfaction. And then I chose a large public university a lot farther from home than the small private college my parents hoped I’d attend. I wanted to be a small fish in a big pond for a change.

In college, I was involved in few outside activities. I did pledge a sorority and even served as its president, but only after several of my sisters convinced me I’d be great at it. After a handful of jobs that paid the bills right out of college, I finally went to work for a large investment firm. There I continued the trend of just meeting my potential, only taking on new challenges when someone brought it to my attention that I’d be perfect for the opportunity.

I was never one who saw myself with a family. Not wanting to be tied down by the constraints of a husband and kids, I always assumed I’d never marry. But then I met Don in 2010 and agreed to marry him after so many of my friends and family pointed out what a great couple we made. Our son was born just over a year later. And before I knew what had happened, this externally motivated, single-for-life, independent career woman was a stay-at-home mom.

I’m proud to say this new role suits me. I’m driven, not to do great things for myself, but to spur my son on to even greater ones. I still don’t know how to relate to children in general, but I know how to distinguish between the slightest little nuances of my son’s tired cry and his hungry cry. I still don’t know how to be a kid, but I’m hoping he’ll teach me. Despite a lifetime of often falling short of my own true potential, I’ve always held on to a quote by the writer James Baldwin: “The world is before you, and you need not take it or leave it as it was when you came in.” That always sounded like something I wanted to do. I just never knew how. The moment my son entered the world, I knew I had achieved it.
                </p>
            </div>
        </ion-content>
    </ion-view>
</script>


<script id="templates/myPAC/myNotifications.html" type="text/ng-template">
    <ion-view title="My Notifications">
        <ion-content padding="true" class="has-header">
            <div class="list list-inset">
                <div class="item item-text-wrap">
                    Thank you for your email. I’m out of the office and will be back at (Date of Return). During this period I will have LIMITED access to my email. For immediate assistance please contact me on my cell phone at (your cell phone number).
                </div>

                <div class="item item-text-wrap">
                    I will be out of the office from (Starting date) until (End date). If you need immediate assistance please contact (Contact Person).
                </div>

                <div class="item item-text-wrap">
                    I will be out of the office starting (Starting Date) through (End Date) returning (Date of Return). If you need immediate assistance during my absence, please contact (Contacts Name) at (Contacts Email Address). Otherwise I will respond to your emails as soon as possible upon my return.
                </div>

                <div class="item item-text-wrap">
                    Thank you for your message. I am currently out of the office, with no email access. I will be returning on (Date of Return). If you need immediate assistance before then, you may reach me at my mobile – (Mobile Number).
                </div>

                <div class="item item-text-wrap">
                    I will be out of the office this week. If you need immediate assistance while I’m away, please email (Contact Email Address).
                </div>

                <div class="item item-text-wrap">
                    I will be away from (Date) until (Return Date). For urgent matters, you can contact (Contact Person).
                </div>

                <div class="item item-text-wrap">
                    Thank you for your email. Your message is important to (Us/Me) and (I/We) will respond as soon as possible. Thank You!
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>



<script id="templates/myPAC/myAppointments.html" type="text/ng-template">
    <ion-view title="My Appointments">
        <ion-content padding="true" class="has-header">
            <div>
            LEAGUE	DAYS	START	END	FIELDS	EVENT<br/><br/>
            U5X	Tues	6:30pm	7:30pm	MSB North	Games<br/><br/>
            U6X	Thur	6:30pm	7:30pm	MBS North	Games<br/><br/>
            U8X	Wed	7:00pm	8:00pm	MSB North & MSB South	Games<br/><br/>
            U8X	Mon	6:30pm	8:00pm	TBD	Practices<br/><br/>
            U10B	Thur	7:00pm	8:00pm	MSB South/Wallace St.	Games<br/><br/>
            U10B	Tues	6:30pm	8:30pm	TBD	Practices<br/><br/>
            U10G	Tues	7:00pm	8:00pm	MSB South	Games<br/><br/>
            U10G	Thur	6:30pm	8:30pm	TBD	Practices<br/><br/>
            U12B	Tues	7:00pm	8:00pm	Elizabeth/Tanners/Rennie	Games<br/><br/>
            U12B	6:30pm	8:30pm	TBD	Practices<br/><br/>
            U12G	Mon	7:00pm	8:00pm	Elizabeth/Tanners	Games<br/><br/>
            U12G	6:30pm	8:30pm	TBD	Practices<br/><br/>
            U14B	Thur	7:00pm	8:00pm	ASP#1/ASP#2	Games<br/><br/>
            U14B	6:30pm	8:30pm	TBD	Practices<br/><br/>
            U14G	Wed	7:00pm	8:00pm	ASP#1/ASP#2	Games<br/><br/>
            U14G	6:30pm	8:30pm	TBD	Practices<br/><br/>
            U16B	Mon	8:00pm	9:00pm	ASP#1/ASP#2	Games<br/><br/>
            U16B	7:30pm	8:30pm	TBD	Practices<br/><br/>
            U16G	Tues	8:00pm	9:00pm	ASP#1/ASP#2	Games<br/><br/>
            U16G	7:30pm	8:30pm	TBD	Practices<br/><br/>
            U18B	Wed	9:00pm	10:00pm	ASP#1/ASP#2	Games<br/><br/>
            U18B	7:30pm	8:30pm	TBD	Practices<br/><br/>
            U18G	Thur	9:00pm	10:00pm	ASP#1/ASP#2	Games<br/><br/>
            U18G	7:30pm	8:30pm	TBD	Practices<br/><br/>
            GHT	Sun	10:30am	12:00pm	Wallace St.	Games<br/><br/>
            </div>
        </ion-content>
    </ion-view>
</script>



<script id="templates/myPAC/submitMyDocuments.html" type="text/ng-template">
    <ion-view title="Submit My Documents">
        <ion-content padding="true" class="has-header">
            <div>
            This template is a guide to be used to prepare manuscripts for submission. Please consult the Instructions to Authors or a recent issue of the journal for detailed guidelines and procedures for submission. This template is intended to benefit to the author in that the entire manuscript (text, tables, and graphics) may be submitted in one file. Inserting graphics and tables close to the point at which they are discussed in the text of the manuscript can also be a benefit for the reviewer.
            When you submit a manuscript using this template, you will not actually see the page formatting that appears in the printed journal. This will occur as part of the editorial production process. Abbreviated instructions for using the template follow. Consult the documentation for your specific application and version for more information. Additional instructions can be found in the readme file at the web page where you downloaded this template.
            Using the template
            In ACS publications there are many different components of a manuscript (i.e., title, abstract, main text, figure captions, etc.) that are represented in the template.  See the Guide, Notes, Notice, or Instructions for Authors on the journal’s homepage to determine which parts should be included for the manuscript that you are preparing
            1.	If typing your manuscript directly into the template, select (highlight) the text of the template that you want to replace and begin typing your manuscript (i.e., select the Title section for typing in your title).
            2.	If you have already prepared your document in a Word file, you will need to attach the template to your working document in order to apply the Word Style tags. Further instructions can be found in the readme file at the web page where you downloaded this template.
            a.	Go to the Word Style list on the formatting toolbar and you will see all the Word Styles from the template that has now been imported into the current document. A Styles toolbar has been generated that will display the different Styles for you to choose from. If this is not present, select View, Toolbars, and then select Styles and it should appear. You can close this at any time and then reopen it when needed.
            b.	Click in the sentence or paragraph and then go to the Word Style menu on the toolbar and select the relevant Word Style.  This will apply the Word Style to the entire text (sentence or paragraph). Do this for all sections of the manuscript.
            3.	To insert graphics within the text or as a figure, chart, scheme, or table, create a new line and insert the graphic where desired. If your graphic is not visible, ensure that the Word Style is “Normal” with an automatic height adjustment. If the size of the artwork needs to be adjusted, re-size the artwork in your graphics program and re-paste the artwork into the template (maximum width for single-column artwork, 3.3 in. (8.5 cm); maximum width for double-column artwork, 7 in. (17.8 cm)). NOTE: If you are submitting a Table of Contents graphic, please insert the graphic at the end of the file.
            4.	Ensure that page numbers are present on all pages before submitting your manuscript.
            5.	Delete these instructions and any sections that are not needed.
            6.	Save the file with the graphics in place: select Save As (File menu) and save it as a document file (not a .dot template file).
            7.	Proof the manuscript to ensure that all parts of the manuscript are present and clearly legible.
            </div>
        </ion-content>
    </ion-view>
</script>


<script id="templates/myPAC/contactUs.html" type="text/ng-template">
    <ion-view title="Contact Us">
        <ion-content padding="true" class="has-header">
            <div>
            The GenBank division to which a record belongs is indicated with a three letter abbreviation. In this example, GenBank division is PLN.

            The GenBank database is divided into 18 divisions:

              1. PRI - primate sequences
              2. ROD - rodent sequences
              3. MAM - other mammalian sequences
              4. VRT - other vertebrate sequences
              5. INV - invertebrate sequences
              6. PLN - plant, fungal, and algal sequences
              7. BCT - bacterial sequences
              8. VRL - viral sequences
              9. PHG - bacteriophage sequences
            10. SYN - synthetic sequences
            11. UNA - unannotated sequences
            12. EST - EST sequences (expressed sequence tags)
            13. PAT - patent sequences
            14. STS - STS sequences (sequence tagged sites)
            15. GSS - GSS sequences (genome survey sequences)
            16. HTG - HTG sequences (high-throughput genomic sequences)
            17. HTC - unfinished high-throughput cDNA sequencing
            18. ENV - environmental sampling sequences

            Some of the divisions contain sequences from specific groups of organisms, whereas others (EST, GSS, HTG, etc.) contain data generated by specific sequencing technologies from many different organisms. The organismal divisions are historical and do not reflect the current NCBI Taxonomy. Instead, they merely serve as a convenient way to divide GenBank into smaller pieces for those who want to FTP the database. Because of this, and because sequences from a particular organism can exist in technology-based divisions such as EST, HTG, etc., the NCBI Taxonomy Browser should be used for retrieving all sequences from a particular organism.

            The divisions are also listed in section 3.3 of the GenBank release notes.

            The RNA division of GenBank was removed in release 113.0 (August 1999). Sequences that were previously in the RNA division have been moved to the appropriate organismal division. (See section 1.3.2 of the GenBank 113.0 release notes for additional information.)

            The HTC division was added to GenBank in release 123.0 (April 2001) and is described in Section 1.3.3 of the GenBank 123.0 release notes.            </div>
        </ion-content>
    </ion-view>
</script>
