<ion-view view-title="My PAC">
    <ion-content>
          <ion-list>
              <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/myPAC/myInformation"><h2>My Information</h2><i class="icon ion-chevron-right icon-accessory"></i></ion-item>
              <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/myPAC/myNotifications"><h2>My Notifications</h2><i class="icon ion-chevron-right icon-accessory"></i></ion-item>
              <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/myPAC/myAppointments"><h2>My Appointments</h2><i class="icon ion-chevron-right icon-accessory"></i></ion-item>
              <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/myPAC/submitMyDocuments"><h2>Submit My Documents</h2><i class="icon ion-chevron-right icon-accessory"></i></ion-item>
              <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/myPAC/contactUs"><h2>Contact Us</h2><i class="icon ion-chevron-right icon-accessory"></i></ion-item>
          </ion-list>
    </ion-content>

</ion-view>





<script id="templates/myPAC/myInformation.html" type="text/ng-template">
    <ion-view title="My Information">
        <ion-content padding="true" class="has-header has-footer">
            <div>
                <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                   irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                   irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                   irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                   irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                   irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                   irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                   irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </ion-content>
    </ion-view>
</script>


<script id="templates/myPAC/myNotifications.html" type="text/ng-template">
    <ion-view title="My Notifications">
        <ion-content padding="true" class="has-header">
            <div>
                <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o.
                    Bear claw cookie chocolate bar jujubes toffee</p>
            </div>
        </ion-content>
    </ion-view>
</script>



<script id="templates/myPAC/myAppointments.html" type="text/ng-template">
    <ion-view title="My Appointments">
        <ion-content padding="true" class="has-header">
            <div>
                <p>Lorizzle ipsum bling bling sit amizzle, consectetuer adipiscing elit. Nizzle sapien velizzle, bling bling volutpat, suscipit , gravida vel, arcu.</p>

                <p>Check it out hizzle thats the shizzle. We gonna chung erizzle. Fo izzle dolor fo turpis tempizzle tempor.</p>

                <p>Gangsta boom shackalack mofo et turpizzle. Sizzle izzle tortor. Pellentesque uhuh ... yih!</p>
            </div>
        </ion-content>
    </ion-view>
</script>



<script id="templates/myPAC/submitMyDocuments.html" type="text/ng-template">
    <ion-view title="Submit My Documents">
        <ion-content padding="true" class="has-header">
            <div>
                <p>Bacon ipsum dolor sit amet salami jowl corned beef, andouille flank tongue ball tip kielbasa pastrami tri-tip meatloaf short loin beef biltong.</p>

                <p>Cow bresaola ground round strip steak fatback meatball shoulder leberkas pastrami sausage corned beef t-bone pork belly drumstick.</p>
            </div>
        </ion-content>
    </ion-view>
</script>


<script id="templates/myPAC/contactUs.html" type="text/ng-template">
    <ion-view title="Contact Us">
        <ion-content padding="true" class="has-header">
            <div>
                <p>Bacon ipsum dolor sit amet salami jowl corned beef, andouille flank tongue ball tip kielbasa pastrami tri-tip meatloaf short loin beef biltong.</p>

                <p>Cow bresaola ground round strip steak fatback meatball shoulder leberkas pastrami sausage corned beef t-bone pork belly drumstick.</p>
            </div>
        </ion-content>
    </ion-view>
</script>
