<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
Use tabs-energized to change tab color.
-->


<ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
        <!--
        <button ui-sref="tab.popOver" class="button button-clear" ng-click="openPopover($event)">
            <i class="icon ion-android-more-vertical"></i>
        </button>
        !-->
        <button ui-sref="tab.popOver" class="button button-clear" ng-click="openPopover($event)">
            <i class="icon ion-android-more-vertical"></i>
        </button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-icon-only tabs-stripped tabs-background-positive tabs-color-assertive">

  <!-- MyPAC Tab (formerly Accounts)-->
  <ion-tab title="MyPAC" icon-on="ion-ios-person" icon-off="ion-ios-person" ui-sref="tab.myPAC">
    <ion-nav-view name="tab-myPAC">
    </ion-nav-view>
  </ion-tab>


  <ion-tab title="Snap" icon-on="ion-ios-camera" icon-off="ion-ios-camera" ui-sref="tab.snap">
      <ion-nav-view name="tab-snap"></ion-nav-view>
  </ion-tab>


  <ion-tab title="About" icon-on="ion-ios-information" icon-off="ion-ios-information" ui-sref="tab.about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
